* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.nav {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-nav {
    width: 10rem;
    height: 3rem;
    background-color: red
}

.btn-nav a {
    text-decoration: none;
    color: white;
}

.container {
    height: 50%;
    width: 100%;
    padding: 3rem;
}

.operacao {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    color: blue;
}

.btn-reset {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
}

#btn {
    background-color: blue;
    color: white;
    width: 7rem;
    height: 3rem;
}